# fetch data

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

import pandas as pd

pd.set_option("max_columns", 100)

A = pd.read_csv("F:/DS_ML_AI_Course/START/01_24092021_BOXPLOT/Cars93.csv")
A.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Rev.per.mile,Man.trans.avail,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,4,1.8,140,6300,2890,Yes,13.2,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,6,3.2,200,5500,2335,Yes,18.0,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,6,2.8,172,5500,2280,Yes,16.9,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,6,2.8,172,5500,2535,Yes,21.1,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,4,3.5,208,5700,2545,Yes,21.1,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [2]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             93 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

In [3]:
list(A.columns)

['id',
 'Manufacturer',
 'Model',
 'Type',
 'Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Man.trans.avail',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room',
 'Weight',
 'Origin',
 'Make']

In [4]:
new_col = ['id',
 'Manufacturer',
 'Model',
 'Type',
 'Min_Price',
 'Price',
 'Max_Price',
 'MPG_city',
 'MPG_highway',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev_per_mile',
 'Man_trans_avail',
 'Fuel_tank_capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn_circle',
 'Rear_seat_room',
 'Luggage_room',
 'Weight',
 'Origin',
 'Make']

In [10]:
A = A.rename(columns= {"Min.Price":"Min_Price","Max.Price":"Max_Price","MPG.highway":"MPG_highway","MPG.city":"MPG_city",
                   "MPG.highway":"MPG_highway","Rev.per.mile":"Rev_per_mile","Man.trans.avail":"Man_trans_avail",
                   "Fuel.tank.capacity":"Fuel_tank_capacity","Turn.circle":"Turn_circle","Rear.seat.room":"Rear_seat_room",
                  "Luggage.room":"Luggage_room"})

In [11]:
A.head()

,id,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,Cylinders,EngineSize,Horsepower,RPM,Rev_per_mile,Man_trans_avail,Fuel_tank_capacity,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,4,1.8,140,6300,2890,Yes,13.2,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,6,3.2,200,5500,2335,Yes,18.0,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,6,2.8,172,5500,2280,Yes,16.9,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,6,2.8,172,5500,2535,Yes,21.1,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,4,3.5,208,5700,2545,Yes,21.1,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

# missing data treatment

In [12]:
A.isna().sum()

id                     0
Manufacturer           0
Model                  0
Type                   0
Min_Price              0
Price                  0
Max_Price              0
MPG_city               0
MPG_highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev_per_mile           0
Man_trans_avail        0
Fuel_tank_capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn_circle            0
Rear_seat_room         2
Luggage_room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [13]:
from PM8 import replacer
replacer(A)

In [14]:
A.isna().sum()

id                    0
Manufacturer          0
Model                 0
Type                  0
Min_Price             0
Price                 0
Max_Price             0
MPG_city              0
MPG_highway           0
AirBags               0
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Rev_per_mile          0
Man_trans_avail       0
Fuel_tank_capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn_circle           0
Rear_seat_room        0
Luggage_room          0
Weight                0
Origin                0
Make                  0
dtype: int64

In [16]:
Y = A["Type"]
X = A.drop(["id", "Manufacturer", "Make", "Model", "Min_Price", "Max_Price", "Type"], axis=1)

# Exploratory Data Analysis

In [17]:
cat = []
con = []
for i in X.columns:
    if(X[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

In [18]:
cat

['AirBags', 'DriveTrain', 'Cylinders', 'Man_trans_avail', 'Origin']

In [19]:
con

['Price',
 'MPG_city',
 'MPG_highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev_per_mile',
 'Fuel_tank_capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn_circle',
 'Rear_seat_room',
 'Luggage_room',
 'Weight']

In [20]:
X[cat].head(3)

              AirBags DriveTrain Cylinders Man_trans_avail   Origin
0                None      Front         4             Yes  non-USA
1  Driver & Passenger      Front         6             Yes  non-USA
2         Driver only      Front         6             Yes  non-USA

In [21]:
X[con].head(3)

,Price,MPG_city,MPG_highway,EngineSize,Horsepower,RPM,Rev_per_mile,Fuel_tank_capacity,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight
0,15.9,25,31,1.8,140,6300,2890,13.2,5,177,102,68,37,26.5,11.0,2705
1,33.9,18,25,3.2,200,5500,2335,18.0,5,195,115,71,38,30.0,15.0,3560
2,29.1,20,26,2.8,172,5500,2280,16.9,5,180,102,67,37,28.0,14.0,3375

In [26]:
def ANOVA(df,cat,con):
    from pandas import DataFrame
    from statsmodels.formula.api import ols
    rel = con + " ~ " + cat
    model = ols(rel,df).fit()
    from statsmodels.stats.anova import anova_lm
    anova_results = anova_lm(model)
    Q = DataFrame(anova_results)
    a = Q['PR(>F)'][cat]
    return round(a,3)

In [27]:
imp_cols = []
for i in con:
    print("--------Type vs",i,"----------")
    x = ANOVA(A,"Type",i)
    print(x)
    if(x < 0.05):
        imp_cols.append(i)

--------Type vs Price ----------
0.0
--------Type vs MPG_city ----------
0.0
--------Type vs MPG_highway ----------
0.0
--------Type vs EngineSize ----------
0.0
--------Type vs Horsepower ----------
0.0
--------Type vs RPM ----------
0.0
--------Type vs Rev_per_mile ----------
0.0
--------Type vs Fuel_tank_capacity ----------
0.0
--------Type vs Passengers ----------
0.0
--------Type vs Length ----------
0.0
--------Type vs Wheelbase ----------
0.0
--------Type vs Width ----------
0.0
--------Type vs Turn_circle ----------
0.0
--------Type vs Rear_seat_room ----------
0.0
--------Type vs Luggage_room ----------
0.0
--------Type vs Weight ----------
0.0

In [28]:
imp_cols

['Price',
 'MPG_city',
 'MPG_highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev_per_mile',
 'Fuel_tank_capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn_circle',
 'Rear_seat_room',
 'Luggage_room',
 'Weight']

In [29]:
for i in cat:
    print("----------Type vs",i,"----------\n")
    print(pd.crosstab(A.Type,A[i]))
    print("\n")

----------Type vs AirBags ----------

AirBags  Driver & Passenger  Driver only  None
Type
Compact                   2            9     5
Large                     4            7     0
Midsize                   7           11     4
Small                     0            5    16
Sporty                    3            8     3
Van                       0            3     6


----------Type vs DriveTrain ----------

DriveTrain  4WD  Front  Rear
Type
Compact       1     13     2
Large         0      7     4
Midsize       0     17     5
Small         2     19     0
Sporty        2      7     5
Van           5      4     0


----------Type vs Cylinders ----------

Cylinders  3   4  5   6  8  rotary
Type
Compact    0  15  0   1  0       0
Large      0   0  0   7  4       0
Midsize    0   7  1  12  2       0
Small      3  18  0   0  0       0
Sporty     0   8  0   4  1       1
Van        0   1  1   7  0       0


----------Type vs Man_trans_avail ----------

Man_trans_avail  No  Yes
Type
Compact           2   14
Large            11    0
Midsize          13    9
Small             0   21
Sporty            0   14
Van               6    3


----------Type vs Origin ----------

Origin   USA  non-USA
Type
Compact    7        9
Large     11        0
Midsize   10       12
Small      7       14
Sporty     8        6
Van        5        4

In [30]:
from scipy.stats import chi2_contingency
for i in cat:
    ct = pd.crosstab(A.Type,A[i],normalize="index")
    a,b,c,d = chi2_contingency(ct)
    print(i,round(b,4))

AirBags 0.9945
DriveTrain 0.9903
Cylinders 1.0
Man_trans_avail 0.6075
Origin 0.9541

In [31]:
imp_cols.extend(["Man_trans_avail"])

In [32]:
imp_cols

['Price',
 'MPG_city',
 'MPG_highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev_per_mile',
 'Fuel_tank_capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn_circle',
 'Rear_seat_room',
 'Luggage_room',
 'Weight',
 'Man_trans_avail']

# preprocessing

In [33]:
from PM8 import preprocessing
Xnew = preprocessing(X[imp_cols])

# split the data in training and testing set

In [34]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# simple tree

In [35]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=21)

model = dtc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  1.0
Testing_Accuracy:  0.5789473684210527

# pruned tree with max depth

In [36]:
from sklearn.model_selection import GridSearchCV
tg = {"max_depth":range(2, 25, 1)}
cv = GridSearchCV(dtc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'max_depth': 3}

In [37]:
dtc = DecisionTreeClassifier(random_state=21, max_depth= 3)

model = dtc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8378378378378378
Testing_Accuracy:  0.47368421052631576

# pruned tree with min samples leaf

In [38]:
dtc = DecisionTreeClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
tg = {"min_samples_leaf":range(2, 25, 1)}
cv = GridSearchCV(dtc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'min_samples_leaf': 6}

In [39]:
dtc = DecisionTreeClassifier(random_state=21, min_samples_leaf = 6)

model = dtc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8783783783783784
Testing_Accuracy:  0.5263157894736842

# pruned tree with min samples used for splitting

In [40]:
dtc = DecisionTreeClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
tg = {"min_samples_split":range(3, 25, 1)}
cv = GridSearchCV(dtc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'min_samples_split': 15}

In [41]:
dtc = DecisionTreeClassifier(random_state=21, min_samples_split = 15)

model = dtc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.9459459459459459
Testing_Accuracy:  0.5789473684210527

# random forest

In [42]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state= 21)

model = rfc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  1.0
Testing_Accuracy:  0.7894736842105263

# random forest with max depth

In [43]:
from sklearn.model_selection import GridSearchCV
tg = {"max_depth":range(2, 25, 1)}
cv = GridSearchCV(rfc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'max_depth': 5}

In [44]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state= 21, max_depth= 5)

model = rfc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  1.0
Testing_Accuracy:  0.7894736842105263

# random forest with min samples leaf

In [45]:
rfc = RandomForestClassifier(random_state= 21)
from sklearn.model_selection import GridSearchCV
tg = {"min_samples_leaf":range(2, 25, 1)}
cv = GridSearchCV(rfc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'min_samples_leaf': 2}

In [46]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state= 21, min_samples_leaf= 2)

model = rfc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  1.0
Testing_Accuracy:  0.7894736842105263

# random forest with min samples split

In [47]:
rfc = RandomForestClassifier(random_state= 21)
from sklearn.model_selection import GridSearchCV
tg = {"min_samples_split":range(2, 25, 1)}
cv = GridSearchCV(rfc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'min_samples_split': 5}

In [48]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state= 21, min_samples_leaf= 5)

model = rfc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.918918918918919
Testing_Accuracy:  0.5263157894736842

# Adaboost

In [49]:
from sklearn.ensemble import AdaBoostClassifier
dtc = DecisionTreeClassifier(random_state= 21, max_depth= 4)

abc = AdaBoostClassifier(dtc, random_state=21)
tg = {"n_estimators":range(2,25,1)}
cv = GridSearchCV(abc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain, ytrain)
cvmodel.best_params_

{'n_estimators': 14}

In [50]:
abc = AdaBoostClassifier(dtc, random_state=21, n_estimators= 14)

model = abc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  1.0
Testing_Accuracy:  0.8421052631578947

# KNN

In [51]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier()
tg = {"n_neighbors":range(2, 50, 1)}
cv = GridSearchCV(knc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain, ytrain)
cvmodel.best_params_

{'n_neighbors': 3}

In [52]:
knc = KNeighborsClassifier(n_neighbors= 3)

model = knc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.918918918918919
Testing_Accuracy:  0.6842105263157895

# results

In [60]:
results = pd.DataFrame(data = ytest)

In [62]:
results["predicted_type"] = pred_ts

In [63]:
results

       Type predicted_type
23    Small        Compact
86      Van            Van
91  Compact        Compact
21    Large          Large
17    Large          Large
82    Small          Small
34   Sporty        Compact
27   Sporty        Midsize
10  Midsize        Midsize
40   Sporty        Compact
13   Sporty        Midsize
3   Midsize        Midsize
55      Van            Van
1   Midsize        Midsize
22    Small          Small
84   Sporty        Compact
19    Large          Large
36  Midsize        Midsize
83    Small          Small