In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

import pandas as pd
A = pd.read_csv("F:/DS_ML_AI_Course/START/22_23122021_PROJECT_02/training_set.csv")

In [2]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
A.skew()

ApplicantIncome      6.528264
CoapplicantIncome    7.485927
LoanAmount           2.677552
Loan_Amount_Term    -2.362414
Credit_History      -1.882361
dtype: float64

# missing data treatment

In [4]:
from PM8 import replacer
replacer(A)

In [5]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [6]:
A = A.drop(labels = "Loan_ID", axis = 1)

# assigning X and Y

In [7]:
Y = A[["Loan_Status"]]
X = A.drop(labels = "Loan_Status", axis = 1)

# seperating cat and con

In [8]:
cat = []
con = []

for i in X.columns:
    if (X[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

In [9]:
cat

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [10]:
con

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

# standerdization of cat and con

In [11]:
Xcat = pd.get_dummies(X[cat])
Xcat.head()

,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1

In [12]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
Xcon = pd.DataFrame(ss.fit_transform(X[con]), columns = con)
Xcon.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.072651,-0.554368,0.000000,0.279851,0.45164
1,0.000000,-0.038610,-0.219273,0.279851,0.45164
2,-0.394096,-0.554368,-0.957641,0.279851,0.45164
3,-0.462412,0.252103,-0.314547,0.279851,0.45164
4,0.097389,-0.554368,-0.064454,0.279851,0.45164

In [13]:
X = Xcon.join(Xcat)
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.072651,-0.554368,0.000000,0.279851,0.45164,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,0.000000,-0.038610,-0.219273,0.279851,0.45164,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,-0.394096,-0.554368,-0.957641,0.279851,0.45164,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,-0.462412,0.252103,-0.314547,0.279851,0.45164,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0.097389,-0.554368,-0.064454,0.279851,0.45164,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1

# spliitind data into training and testing

In [14]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size= 0.2, random_state=21)

# simple tree

In [15]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=21)

In [16]:
model = dtc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

In [17]:
from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  1.0
Testing_Accuracy:  0.6910569105691057

# pruned tree with max depth

In [18]:
from sklearn.model_selection import GridSearchCV
tg = {"max_depth":range(2, 25, 1)}
cv = GridSearchCV(dtc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'max_depth': 4}

In [19]:
dtc = DecisionTreeClassifier(random_state=21, max_depth= 4)

model = dtc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8268839103869654
Testing_Accuracy:  0.7886178861788617

# pruned tree with min samples leaf

In [20]:
dtc = DecisionTreeClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
tg = {"min_samples_leaf":range(2, 25, 1)}
cv = GridSearchCV(dtc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'min_samples_leaf': 24}

In [21]:
dtc = DecisionTreeClassifier(random_state=21, min_samples_leaf = 24)

model = dtc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8085539714867617
Testing_Accuracy:  0.7723577235772358

# pruned tree with min samples used for splitting

In [22]:
dtc = DecisionTreeClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
tg = {"min_samples_split":range(3, 25, 1)}
cv = GridSearchCV(dtc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'min_samples_split': 24}

In [23]:
dtc = DecisionTreeClassifier(random_state=21, min_samples_split = 24)

model = dtc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8778004073319755
Testing_Accuracy:  0.6991869918699187

# random forest

In [24]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state= 21)

model = rfc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  1.0
Testing_Accuracy:  0.7804878048780488

# random forest with max depth

In [25]:
from sklearn.model_selection import GridSearchCV
tg = {"max_depth":range(2, 25, 1)}
cv = GridSearchCV(rfc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'max_depth': 5}

In [26]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state= 21, max_depth= 5)

model = rfc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8187372708757638
Testing_Accuracy:  0.8130081300813008

# random forest with min samples leaf

In [27]:
rfc = RandomForestClassifier(random_state= 21)
from sklearn.model_selection import GridSearchCV
tg = {"min_samples_leaf":range(2, 25, 1)}
cv = GridSearchCV(rfc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'min_samples_leaf': 4}

In [28]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state= 21, min_samples_leaf= 4)

model = rfc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8370672097759674
Testing_Accuracy:  0.7967479674796748

# random forest with min samples split

In [29]:
rfc = RandomForestClassifier(random_state= 21)
from sklearn.model_selection import GridSearchCV
tg = {"min_samples_split":range(2, 25, 1)}
cv = GridSearchCV(rfc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'min_samples_split': 18}

In [30]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state= 21, min_samples_leaf= 18)

model = rfc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8065173116089613
Testing_Accuracy:  0.8130081300813008

# Adaboost

In [31]:
from sklearn.ensemble import AdaBoostClassifier
dtc = DecisionTreeClassifier(random_state= 21, max_depth= 4)

abc = AdaBoostClassifier(dtc, random_state=21)
tg = {"n_estimators":range(2,25,1)}
cv = GridSearchCV(abc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain, ytrain)
cvmodel.best_params_

{'n_estimators': 2}

In [32]:
abc = AdaBoostClassifier(dtc, random_state=21, n_estimators= 2)

model = abc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8431771894093686
Testing_Accuracy:  0.7479674796747967

# KNN

In [33]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier()
tg = {"n_neighbors":range(2, 50, 1)}
cv = GridSearchCV(knc, tg, scoring= "accuracy", cv = 3)
cvmodel = cv.fit(xtrain, ytrain)
cvmodel.best_params_

{'n_neighbors': 38}

In [34]:
knc = KNeighborsClassifier(n_neighbors= 38)

model = knc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8044806517311609
Testing_Accuracy:  0.8211382113821138

# fetching testing set

In [35]:
Testing_set = pd.read_csv("F:/DS_ML_AI_Course/START/22_23122021_PROJECT_02/testing_set.csv")
Testing_set.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

# preprocessing

In [36]:
replacer(Testing_set)

In [37]:
Testing_set = Testing_set.drop(labels = "Loan_ID", axis = 1)

In [38]:
Testing_set_cat = pd.get_dummies(Testing_set[cat])
Testing_set_cat.head()

,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
2,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
3,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
4,0,1,1,0,1,0,0,0,0,1,1,0,0,0,1

In [39]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
Testing_set_con = pd.DataFrame(ss.fit_transform(Testing_set[con]), columns = con)
Testing_set_con.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.186461,-0.673335,-0.429368,0.270603,0.47918
1,-0.352692,-0.029848,-0.166482,0.270603,0.47918
2,0.039641,0.098849,1.180807,0.270603,0.47918
3,-0.502774,0.418877,-0.593671,0.270603,0.00000
4,-0.311909,-0.673335,-0.955139,0.270603,0.47918

In [40]:
Testing_set = Testing_set_con.join(Testing_set_cat)

In [41]:
Testing_set.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.186461,-0.673335,-0.429368,0.270603,0.47918,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
1,-0.352692,-0.029848,-0.166482,0.270603,0.47918,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
2,0.039641,0.098849,1.180807,0.270603,0.47918,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
3,-0.502774,0.418877,-0.593671,0.270603,0.00000,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
4,-0.311909,-0.673335,-0.955139,0.270603,0.47918,0,1,1,0,1,0,0,0,0,1,1,0,0,0,1

# results - random forest with max depth

In [42]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state= 21, max_depth= 5)

model = rfc.fit(xtrain, ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain, pred_tr)
ts_err = accuracy_score(ytest, pred_ts)
print("Training_Accuracy: ", tr_err)
print("Testing_Accuracy: ", ts_err)

Training_Accuracy:  0.8187372708757638
Testing_Accuracy:  0.8130081300813008

In [43]:
pridicted_loan_status = model.predict(Testing_set)

In [44]:
temp_Testing_set = pd.read_csv("F:/DS_ML_AI_Course/START/22_23122021_PROJECT_02/testing_set.csv")
E = temp_Testing_set[["Loan_ID"]]
E["Pridicted_Loan_Status"] = pridicted_loan_status
E.head(20)

     Loan_ID Pridicted_Loan_Status
0   LP001015                     Y
1   LP001022                     Y
2   LP001031                     Y
3   LP001035                     Y
4   LP001051                     Y
5   LP001054                     Y
6   LP001055                     Y
7   LP001056                     N
8   LP001059                     Y
9   LP001067                     Y
10  LP001078                     Y
11  LP001082                     Y
12  LP001083                     Y
13  LP001094                     N
14  LP001096                     Y
15  LP001099                     Y
16  LP001105                     Y
17  LP001107                     Y
18  LP001108                     Y
19  LP001115                     Y

# Problem 002

In [45]:
A = pd.read_csv("F:/DS_ML_AI_Course/START/22_23122021_PROJECT_02/training_set.csv")

In [46]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

In [47]:
A.shape

(614, 13)

In [48]:
replacer(A)

In [49]:
A = A.drop(labels = "Loan_ID", axis = 1)

In [50]:
A.shape

(614, 12)

In [51]:
Y = A[["LoanAmount"]]
X = A.drop(labels = "LoanAmount", axis = 1)

In [52]:
X.shape

(614, 11)

In [53]:
cat = []
con = []

for i in X.columns:
    if (X[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

In [54]:
cat

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [55]:
con

['ApplicantIncome', 'CoapplicantIncome', 'Loan_Amount_Term', 'Credit_History']

In [56]:
X[con]

     ApplicantIncome  CoapplicantIncome  Loan_Amount_Term  Credit_History
0         5849.00000                0.0             360.0             1.0
1         5405.54085             1508.0             360.0             1.0
2         3000.00000                0.0             360.0             1.0
3         2583.00000             2358.0             360.0             1.0
4         6000.00000                0.0             360.0             1.0
..               ...                ...               ...             ...
609       2900.00000                0.0             360.0             1.0
610       4106.00000                0.0             180.0             1.0
611       8072.00000              240.0             360.0             1.0
612       7583.00000                0.0             360.0             1.0
613       4583.00000                0.0             360.0             0.0

[614 rows x 4 columns]

In [57]:
for col in X[con]:
    m = []
    for i in X[col]:
        if (i == 0):
            m.append(0.1)
        else:
            m.append(i)
    X[col] = m

In [58]:
X[con]

     ApplicantIncome  CoapplicantIncome  Loan_Amount_Term  Credit_History
0         5849.00000                0.1             360.0             1.0
1         5405.54085             1508.0             360.0             1.0
2         3000.00000                0.1             360.0             1.0
3         2583.00000             2358.0             360.0             1.0
4         6000.00000                0.1             360.0             1.0
..               ...                ...               ...             ...
609       2900.00000                0.1             360.0             1.0
610       4106.00000                0.1             180.0             1.0
611       8072.00000              240.0             360.0             1.0
612       7583.00000                0.1             360.0             1.0
613       4583.00000                0.1             360.0             0.1

[614 rows x 4 columns]

In [59]:
import numpy as np
X1 = X[con].apply(np.log)
X1.head()

   ApplicantIncome  CoapplicantIncome  Loan_Amount_Term  Credit_History
0         8.674026          -2.302585          5.886104             0.0
1         8.595180           7.318540          5.886104             0.0
2         8.006368          -2.302585          5.886104             0.0
3         7.856707           7.765569          5.886104             0.0
4         8.699515          -2.302585          5.886104             0.0

In [60]:
X1.shape

(614, 4)

In [61]:
X = X.drop(labels = con, axis = 1)

In [62]:
X = X.join(X1)

In [63]:
X

,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History
0,Male,No,0,Graduate,No,Urban,Y,8.674026,-2.302585,5.886104,0.000000
1,Male,Yes,1,Graduate,No,Rural,N,8.595180,7.318540,5.886104,0.000000
2,Male,Yes,0,Graduate,Yes,Urban,Y,8.006368,-2.302585,5.886104,0.000000
3,Male,Yes,0,Not Graduate,No,Urban,Y,7.856707,7.765569,5.886104,0.000000
4,Male,No,0,Graduate,No,Urban,Y,8.699515,-2.302585,5.886104,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,Rural,Y,7.972466,-2.302585,5.886104,0.000000
610,Male,Yes,3+,Graduate,No,Rural,Y,8.320205,-2.302585,5.192957,0.000000
611,Male,Yes,1,Graduate,No,Urban,Y,8.996157,5.480639,5.886104,0.000000
612,Male,Yes,2,Graduate,No,Urban,Y,8.933664,-2.302585,5.886104,0.000000
613,Female,No,0,Graduate,Yes,Semiurban,N,8.430109,-2.302585,5.886104,-2.302585

In [64]:
X.skew()

ApplicantIncome      0.477562
CoapplicantIncome   -0.192802
Loan_Amount_Term    -4.868293
Credit_History      -2.008284
dtype: float64

In [65]:
X.shape

(614, 11)

In [66]:
X = X.join(Y)

In [67]:
X.shape

(614, 12)

In [68]:
X = X.drop(labels = "LoanAmount", axis = 1)

In [69]:
X.shape

(614, 11)

In [70]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
tr1 = X[cat].apply(le.fit_transform)

In [71]:
tr1.shape

(614, 7)

In [72]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
tr2 = pd.DataFrame(ss.fit_transform(X[con]), columns = con)

In [73]:
tr2.shape

(614, 4)

In [74]:
trd = tr2.join(tr1)

In [75]:
trd.head()

,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,0.515465,-1.111722,0.269161,0.431331,1,0,0,0,0,2,1
1,0.393196,0.809146,0.269161,0.431331,1,1,1,0,0,0,0
2,-0.519896,-1.111722,0.269161,0.431331,1,1,0,0,1,2,1
3,-0.751980,0.898396,0.269161,0.431331,1,1,0,1,0,2,1
4,0.554992,-1.111722,0.269161,0.431331,1,0,0,0,0,2,1

In [76]:
trd.shape

(614, 11)

In [77]:
Y = A[["LoanAmount"]]
X = trd

In [78]:
Y.shape

(614, 1)

In [79]:
X.shape

(614, 11)

In [80]:
X.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'Loan_Amount_Term',
       'Credit_History', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [81]:
X = X.drop(labels = "Loan_Status", axis = 1)

In [82]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size= 0.2, random_state= 21)

In [83]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model = lr.fit(xtrain, ytrain)

pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

In [84]:
from sklearn.metrics import mean_absolute_error

tr_err = mean_absolute_error(ytrain, pred_tr)
ts_err = mean_absolute_error(ytest, pred_ts)

In [85]:
tr_err

40.376123275253825

In [86]:
ts_err

44.367259737115916

# Lasso

In [87]:
from sklearn.linear_model import Lasso
ls = Lasso()

tp = []
x = 0.91

for i in range(0, 200, 1):
    x = x + 0.0001
    x = round(x, 3)
    tp.append(x)

In [88]:
tg = {"alpha": tp}

cv = GridSearchCV(ls, tg, scoring= "neg_mean_absolute_error", cv = 3)
cvmodel = cv.fit(xtrain, ytrain)
cvmodel.best_params_

{'alpha': 0.91}

In [89]:
ls = Lasso(alpha= 0.91)

model = ls.fit(xtrain, ytrain)

pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

tr_err = mean_absolute_error(ytrain, pred_tr)
ts_err = mean_absolute_error(ytest, pred_ts)

In [90]:
tr_err

40.279600718479294

In [91]:
ts_err

43.38212430674943

# Ridge

In [92]:
from sklearn.linear_model import Ridge
rr = Ridge()

tp = []
x = 0.91

for i in range(0, 200, 1):
    x = x + 0.0001
    x = round(x, 3)
    tp.append(x)

In [93]:
tg = {"alpha": tp}

cv = GridSearchCV(ls, tg, scoring= "neg_mean_absolute_error", cv = 3)
cvmodel = cv.fit(xtrain, ytrain)
cvmodel.best_params_

{'alpha': 0.91}

In [94]:
rr = Ridge(alpha= 0.91)

model = rr.fit(xtrain, ytrain)

pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

tr_err = mean_absolute_error(ytrain, pred_tr)
ts_err = mean_absolute_error(ytest, pred_ts)

In [95]:
tr_err

40.36662776088203

In [96]:
ts_err

44.36173442598151

# fetching testing set

In [97]:
testing_set = pd.read_csv("F:/DS_ML_AI_Course/START/22_23122021_PROJECT_02/testing_set.csv")

In [98]:
replacer(testing_set)

In [99]:
testing_set = testing_set.drop(labels = "Loan_ID", axis = 1)

In [100]:
testing_set.skew().sort_values()

Loan_Amount_Term    -2.701307
Credit_History      -1.794114
LoanAmount           2.238688
CoapplicantIncome    4.257357
ApplicantIncome      8.441375
dtype: float64

In [101]:
for col in testing_set[con]:
    m = []
    for i in testing_set[col]:
        if (i == 0):
            m.append(0.1)
        else:
            m.append(i)
    testing_set[col] = m

In [102]:
testing_set[con]

     ApplicantIncome  CoapplicantIncome  Loan_Amount_Term  Credit_History
0             5720.0                0.1             360.0        1.000000
1             3076.0             1500.0             360.0        1.000000
2             5000.0             1800.0             360.0        1.000000
3             2340.0             2546.0             360.0        0.825444
4             3276.0                0.1             360.0        1.000000
..               ...                ...               ...             ...
362           4009.0             1777.0             360.0        1.000000
363           4158.0              709.0             360.0        1.000000
364           3250.0             1993.0             360.0        0.825444
365           5000.0             2393.0             360.0        1.000000
366           9200.0                0.1             180.0        1.000000

[367 rows x 4 columns]

In [103]:
testing_set_1 = testing_set[con].apply(np.log)
testing_set_1.head()

   ApplicantIncome  CoapplicantIncome  Loan_Amount_Term  Credit_History
0         8.651724          -2.302585          5.886104        0.000000
1         8.031385           7.313220          5.886104        0.000000
2         8.517193           7.495542          5.886104        0.000000
3         7.757906           7.842279          5.886104       -0.191834
4         8.094378          -2.302585          5.886104        0.000000

In [104]:
testing_set = testing_set.drop(labels = con, axis = 1)

In [105]:
testing_set = testing_set.join(testing_set_1)

In [106]:
testing_set

,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Property_Area,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History
0,Male,Yes,0,Graduate,No,110.0,Urban,8.651724,-2.302585,5.886104,0.000000
1,Male,Yes,1,Graduate,No,126.0,Urban,8.031385,7.313220,5.886104,0.000000
2,Male,Yes,2,Graduate,No,208.0,Urban,8.517193,7.495542,5.886104,0.000000
3,Male,Yes,2,Graduate,No,100.0,Urban,7.757906,7.842279,5.886104,-0.191834
4,Male,No,0,Not Graduate,No,78.0,Urban,8.094378,-2.302585,5.886104,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
362,Male,Yes,3+,Not Graduate,Yes,113.0,Urban,8.296297,7.482682,5.886104,0.000000
363,Male,Yes,0,Graduate,No,115.0,Urban,8.332789,6.563856,5.886104,0.000000
364,Male,No,0,Graduate,No,126.0,Semiurban,8.086410,7.597396,5.886104,-0.191834
365,Male,Yes,0,Graduate,No,158.0,Rural,8.517193,7.780303,5.886104,0.000000
366,Male,No,0,Graduate,Yes,98.0,Rural,9.126959,-2.302585,5.192957,0.000000

In [107]:
testing_set.skew()

LoanAmount           2.238688
ApplicantIncome     -7.193757
CoapplicantIncome   -0.269842
Loan_Amount_Term    -6.342353
Credit_History      -1.840151
dtype: float64

In [108]:
cat

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [109]:
cat.remove("Loan_Status")

In [110]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
tr1 = testing_set[cat].apply(le.fit_transform)

In [111]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
tr2 = pd.DataFrame(ss.fit_transform(testing_set[con]), columns = con)

In [112]:
testing_set = tr2.join(tr1)
testing_set.head()

,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Gender,Married,Dependents,Education,Self_Employed,Property_Area
0,0.436393,-1.156252,0.237049,0.458342,1,1,0,0,0,2
1,-0.215007,0.783924,0.237049,0.458342,1,1,1,0,0,2
2,0.295126,0.820711,0.237049,0.458342,1,1,2,0,0,2
3,-0.502180,0.890672,0.237049,0.230159,1,1,2,0,0,2
4,-0.148860,-1.156252,0.237049,0.458342,1,0,0,1,0,2

In [113]:
testing_set.shape

(367, 10)

# result - Lasso

In [114]:
ls = Lasso(alpha= 0.91)

model = ls.fit(xtrain, ytrain)

pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

tr_err = mean_absolute_error(ytrain, pred_tr)
ts_err = mean_absolute_error(ytest, pred_ts)

In [115]:
predicted_loan_amount = model.predict(testing_set)

In [116]:
temp_testing_set = pd.read_csv("F:/DS_ML_AI_Course/START/22_23122021_PROJECT_02/testing_set.csv")

In [117]:
rejected_applicants = E[E["Pridicted_Loan_Status"] == "N"][["Loan_ID"]]

In [118]:
rejected_applicants.head(20)

      Loan_ID
7    LP001056
13   LP001094
25   LP001153
35   LP001203
55   LP001313
58   LP001323
63   LP001347
66   LP001352
67   LP001358
69   LP001361
80   LP001420
82   LP001445
84   LP001450
94   LP001496
101  LP001542
106  LP001563
117  LP001611
118  LP001613
119  LP001622
123  LP001652

In [119]:
concat = temp_testing_set[["Loan_ID","LoanAmount"]]
concat["predicted_loan_amount"] = predicted_loan_amount
concat.head(20)

     Loan_ID  LoanAmount  predicted_loan_amount
0   LP001015       110.0             138.904186
1   LP001022       126.0             154.518933
2   LP001031       208.0             186.945423
3   LP001035       100.0             153.246801
4   LP001051        78.0             100.045695
5   LP001054       152.0             124.285450
6   LP001055        59.0              95.128628
7   LP001056       147.0             139.364272
8   LP001059       280.0             194.412704
9   LP001067       123.0             123.082417
10  LP001078        90.0              97.310232
11  LP001082       162.0             138.463758
12  LP001083        40.0             141.295217
13  LP001094       166.0             201.061965
14  LP001096       124.0             128.976320
15  LP001099       131.0             142.622841
16  LP001105       200.0             184.649623
17  LP001107       126.0             176.436894
18  LP001108       300.0             203.538777
19  LP001115       100.0              98.158915

In [120]:
pd.merge(concat, rejected_applicants, left_on= "Loan_ID", right_on= "Loan_ID", how = "inner")

     Loan_ID  LoanAmount  predicted_loan_amount
0   LP001056       147.0             139.364272
1   LP001094       166.0             201.061965
2   LP001153       148.0            -326.190236
3   LP001203       176.0             114.952297
4   LP001313       130.0             108.561625
5   LP001323       176.0             175.193304
6   LP001347       108.0             136.200905
7   LP001352       135.0             130.607075
8   LP001358       130.0             123.892129
9   LP001361       188.0             148.505143
10  LP001420       163.0             190.291535
11  LP001445       149.0             144.580293
12  LP001450       131.0             130.649475
13  LP001496       123.0             184.047670
14  LP001542         NaN             110.700528
15  LP001563       119.0             119.477465
16  LP001611        80.0             132.150018
17  LP001613       104.0             130.068791
18  LP001622       213.0             107.352561
19  LP001652       187.0             145.428158
20  LP001655       300.0             184.198328
21  LP001662        71.0             149.041753
22  LP001785       150.0             134.052955
23  LP001789       139.0             206.621257
24  LP001817       199.0             154.873262
25  LP001853       117.0             146.698734
26  LP001906        84.0             112.088163
27  LP001923       170.0              91.589890
28  LP001933       120.0             114.058086
29  LP001950        94.0             161.484700
30  LP001979       159.0             145.884750
31  LP001995       110.0             136.228877
32  LP002069       180.0             176.587308
33  LP002070       128.0             167.358931
34  LP002090       114.0             148.345733
35  LP002099       104.0             160.394190
36  LP002168       200.0             177.408657
37  LP002256       187.0             160.546905
38  LP002286       125.0             161.834526
39  LP002316       176.0             136.939552
40  LP002321       117.0             144.576842
41  LP002339       105.0             165.538321
42  LP002346       125.0             145.931743
43  LP002355       150.0             153.551189
44  LP002383       142.0             181.222797
45  LP002399       123.0             110.374389
46  LP002442       112.0             172.189961
47  LP002450        49.0             199.775174
48  LP002495       130.0             196.424174
49  LP002496        94.0             124.293961
50  LP002551       176.0             179.209840
51  LP002609        88.0             145.038412
52  LP002651       125.0             161.181868
53  LP002747       153.0             173.138017
54  LP002774        67.0             121.137557
55  LP002802        95.0             116.742701
56  LP002858       162.0             171.914435
57  LP002879       133.0             160.082765
58  LP002921       158.0             185.846828

In [121]:
from pandas import DataFrame
rejected_applicants.to_csv("F:/DS_ML_AI_Course/START/22_23122021_PROJECT_02/rejected_applicants.csv")